th { text-align: left }
th, td { border: 1px solid black; white-space: nowrap; overflow: hidden }
table { border-collapse: collapse; font-size: smaller }
thead th, tbody th, tfoot th,
table.dataTable thead td, table.dataTable tbody td, table.dataTable tfoot td,
table.dataTable thead th, table.dataTable tbody th, table.dataTable tfoot th { padding: 1pt }
p.placeholder { font-style: italic; color: darkgray; text-align: center; vertical-align: middle; line-height: 90px; /* the same as your div height */ }
table.twocolumn, td.twocolumn { border: none }
table.twocolumn { width: 100% }
td.twocolumn { width: 50% }
col.twocolumn { width: 50% }
