<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CompHound</title>
    <link rel="stylesheet" href="/css/comphound.css">
</head>
<body>
    <h1>{{message}}</h1>
    <pre>
        {{error}}
    </pre>
</body>
</html>
