<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CompHound</title>
    <link rel="stylesheet" href="/css/comphound.css">
    <!--
    <link rel="stylesheet" href="/css/table.css">
    <script src="/js/table.js"></script>
    -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="/js/pbTable.min.js"></script>
    <script src="/js/pbtable-en_EN.js"></script>
  </head>
  <body>
    <h1>Component Instances</h1>
    <p>The database contains {{count}} component instances:</p>
    <table id="t1" class="table table-striped">
      <thead>
        <tr>
          <th>Family</th>
          <th>Symbol</th>
        </tr>
      </thead>
      <tbody>
        {{#each instances}}
          <tr><td>{{family}}</td><td>{{symbol}}</td></tr>
        {{/each}}
      </tbody>
    </table>
    <script>
$('#t1').pbTable({
  selectable: true,
  sortable:true,
  toolbar:{
    enabled:true,
    filterBox:true,
    buttons:['view', 'edit', 'delete']
  },
  pagination:{
    enabled: true,
    pageSize: 50
  },
  onView:function(){
    alert('View button was pressed');
  },
  onEdit:function(){
    alert('Edit button was pressed');
  },
  onDelete:function(){
    alert('Delete button was pressed');
  },
  onNew:function(){
    alert('New button was pressed');
  }
});
    </script>
  </body>
</html>
