<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CompHound</title>
    <!--
    <script>
      var React    = require('react');
      var DataGrid = require('react-datagrid');
      var data     = {{instances}};
      /**
       * data is an array with 1000 items, like:
       * [
       * 		{ id: 0, index: 1, firstName: 'John', city: 'London', 'email: jon@gmail.com'},
       * 		{ id: 1, .... }
       * ]
      var columns = [
        { name: 'index', title: '#', width: 50 },
        { name: 'firstName' },
        { name: 'lastName'  },
        { name: 'city' },
        { name: 'email' }
      ]
       */
      var columns = [
        { name: '_id', title: '#', width: 50 },
        { name: 'family' },
        { name: 'symbol'  }
      ]

      var App = React.createClass({
        render: function(){
          return <DataGrid
            idProperty='id'
            dataSource={data}
            columns={columns}
            style={{height: 500}}
            //if you don't want to show a column menu to show/hide columns, use
            //withColumnMenu={false}
          />
        }
      })

      //module.exports = App
    </script>
    -->

    <script src="/js/handlebars.js"></script>
    <script src="/js/underscore.js"></script>
    <script src="/js/react.js"></script>
    <script src="/js/JSXTransformer.js"></script>
    <script src="/js/reactable.js"></script>
  </head>
  <body>
    <h1>Component Instances</h1>
    <p>The database contains {{count}} component instances:</p>
    <div id="instancediv"></div>
    <script type="text/jsx">
      var Table = Reactable.Table;
      React.renderComponent(
          <Table className="table" data={[
              { Name: 'Griffin Smith', Age: 18 },
              { Age: 23,  Name: 'Lee Salminen' },
              { Age: 28, Position: 'Developer' },
          ]} />,
          document.getElementById('instancediv')
      );
    </script>
  </body>
</html>
